.lqe-hdr-menu {
  --hdr-menu-height: 40px;
  --hdr-menu-shadow: 0 1px 6px 0 #524954;
  --hdr-menu-item-padding: 1rem;
}

.lqe-hdr-menu {
  width: 100%;
  height: var(--height);
  background-color: white;
  box-shadow: var(--hdr-menu-shadow);

  .lqe-hdr-menu__title-list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--hdr-menu-height);

    .lqe-hdr-menu__title-item {
      list-style: none;
      padding: var(--hdr-menu-item-padding);
    }
  }
}