.lqe-webchat-container{
  display: flex; 
  flex-direction: column;
  position: sticky;
  bottom: 20px;
  box-shadow: 5px 5px 20px #fff;
}

.lqe-webchat-bar{
  height: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color:#6e267b;
}

.lqe-webchat-bar-spacing{
  padding: 40px;
}

.lqe-webchat-window{
  flex-direction: column;
  background-color: WhiteSmoke;
  height: 300px;
  overflow-y: auto;
}

.lqe-webchat-window, .lqe-webchat-bar, .lqe-webchat-message-submit{
  width: 400px;
  padding: 20px;
  margin-left: auto;
  color: white;
  flex-basis: auto;
}

.lqe-webchat-message-submit{
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F8F8F8;
  flex-basis: auto;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.lqe-webchat-toggle--hide{
  display: none;
}

.lqe-webchat-toggle--show{
  display: flex;
}

.lqe-webchat-chatbubble-userA, .lqe-webchat-chatbubble-userB {
  border: none; 
  border-radius: 8px;
  padding: 15px;
  width: 170px;
  min-height: 10px;
  max-height: fit-content;
  margin: 15px 7px 15px 7px;
  font-size: 11px;
  text-align: left;
}

.lqe-webchat-chatbubble-userA{
  background: #E8E8E8; 
  color: black;
}

.lqe-webchat-chatbubble-userB{
  background: blueviolet;
  color: white;
  align-items: center;
  display: flex;
}

.lqe-webchat-message-userA{
  align-self: flex-start; 
  flex-direction: row;
}

.lqe-webchat-message-userB{
  align-self: flex-end;
  flex-direction: row-reverse;
}

.lqe-webchat-message-userA, .lqe-webchat-message-userB{
  display: flex;
}

.lqe-message-input, .lqe-message-submit-btn{
  border: 0px none;
  height: 40px;
  margin: 7px;
}

.lqe-message-input{
  width: 270px;
}

.lqe-message-submit-btn{
  width: 40px;
}

.lqe-dot-userA, .lqe-dot-userB{
  height: 20px;
  width: 20px;
  background-color: #808080;
  border-radius: 50%;
  display: flex;
  margin-top: 17px;
}

input{
  text-align:left;
  padding-left: 20px;
} 

.lqe-send-message {
  color: #bbb;
}