.lqe-wct{
  position: fixed;
  right: 0;
  bottom: 0;
  bottom: 20px;
  box-shadow: 5px 5px 20px #fff;
}

.lqe-wct__main__toggle--hide{
  display: none;
}

.lqe-wct__main__toggle--show{
  display: flex;
  flex-direction: column;
}

.lqe-wct__main__hdr, .lqe-wct__open-btn{
  height: 45px;
  align-items: center;
  justify-content: center;
  background-color:#6e267b;
  padding: 40px;
}

.lqe-wct__main__hdr{
  display: flex;
}

.lqe-wct__main__hdr_text_s, .lqe-wct__btn_s{
  padding: 40px;
}

.lqe-wct__main__mess-list{
  flex-direction: column;
  background-color: WhiteSmoke;
  height: 300px;
  overflow-y: auto;
}

.lqe-wct__main__mess-list, .lqe-wct__main__hdr, .lqe-wct__open-btn, .lqe-wct__message__input__wrap{
  width: 400px;
  padding: 20px;
  color: white;
}

.lqe-wct__message__input__wrap{
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
  background-color: #F8F8F8;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.lqe-wct__chatbubble__usera, .lqe-wct__chatbubble__userb{
  border: none; 
  border-radius: 8px;
  padding: 15px;
  width: 170px;
  min-height: 10px;
  max-height: fit-content;
  margin: 15px 7px 15px 7px;
  overflow-wrap: anywhere;
  font-size: 11px;
  text-align: left;
}

.lqe-wct__chatbubble__usera{
  background: #E8E8E8; 
  color: black;
}

.lqe-wct__chatbubble__userb{
  background: blueviolet;
  color: white;
  align-items: center;
  display: flex;
}

.lqe-wct__message__usera{
  align-self: flex-start; 
  flex-direction: row;
}

.lqe-wct__message__userb{
  align-self: flex-end;
  flex-direction: row-reverse;
}

.lqe-wct__message__usera, .lqe-wct__message__userb{
  display: flex;
}

.lqe-wct__message__input, .lqe-wct__message__submit-btn{
  border: 0px none;
  height: 40px;
  margin: 7px;
}

.lqe-wct__message__input{
  width: 270px;
}

.lqe-wct__message__submit-btn{
  width: 40px;
}

.lqe-wct__message__dot{
  height: 20px;
  width: 20px;
  background-color: #808080;
  border-radius: 50%;
  display: flex;
  margin-top: 17px;
}

.lqe-wct__message__input_s{
  text-align:left;
  padding-left: 20px;
} 

.lqe-wct__message__cursor {
  color: #bbb;
}
