.lqe-hdr-menu {
    width: 100%;
    height: 40px;
    background-color: white;
    box-shadow: 0 1px 6px 0 #524954;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar-container {
    display: flex;
    flex-direction: column;
}

.container {
    width: 970px;
}

.navbar .navbar-nav {
    display: table;
    width: 100%;
}

.navbar .navbar-nav > li {
    display: table-cell;
    float: none;
}

.nav > li {
    position: relative;
    display: table-cell;
}