.util-cookie-banner-container {
    flex-direction: column;
    border-width: 1px solid;
    border-color: red;
    border-style: solid;
    background-color: #FFFFFF;
    position: fixed;
    max-width: 480px;
    min-width: 480px;
    bottom: 0;
    left: 0;
    height: 100%;
    box-shadow: 0px 2px 10px -3px #999;
    font-size: 16px;
    z-index: 1001;
}

.util-cookie-banner-container--show {
    display: flex;
    transition: transform 0.4s;
    transform: translate(0%);
}

.util-cookie-banner-container--hide {
    display: none;
}

.util-cookie-banner-container-hdr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.util-cookie-banner__cookie-icon {
    position: fixed;
    z-index: 2147483648;
    height: 35px;
    width: 35px;
    bottom: 0;
    left: 0;
}

.util-cookie-banner__modal {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .7);
    z-index: 1000;
}

.util-cookie-banner__modal.hide{
    opacity: 0;
    transform: translate(100%);
}
.util-cookie-banner__modal.show{
    opacity: 1;
    transform: translate(0%);
}